* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #30403c;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
}
main {
    /* border: 1px solid red ; */
    width: 100vh;
    max-width: 279px;
    margin: 50px auto;
    text-align: center;
    padding: 16px;
    background-color: #586965;
}

h1 {
    /* color: #ade0db; */
    font-size: 42px;
    color: #a9bcb7;
    
}
input {
  border: 2px solid #388674;
  border-radius: 9px;
  width: 71%;
  height: 30px;
  outline: none;
}
button {
    height: 26px;
    border: 2px solid #388674;
    border-radius: 7px;
    padding: 4px;
    border: none;
    cursor: pointer;
    background-color: #a9bcb7;
    /* #c1ded7 */
    transition: 0.5s;
}
button:hover {
    background-color: #c1ded7;
}

button:active {
    background-color: #586965 ;
}

main ul {
    /* width: 99%; */
    list-style-type: none;
}
main li {
    border: 2px solid #388674;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px auto;
    font-weight: bolder;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
span {
    cursor: pointer;
}